#Root directory
.vscode
CMakeFiles
_deps/
.DS_Store

MakeFile
*.a
cmake_install.cmake
*/cmake_install.cmake
CMakeCache.txt
**/CMakeFiles/

#Sub Directory
*/CMakeFiles
*/MakeFile

#Catkin from ROS
/devel
/catkin
/catkin_generated
/atomic_configure
/test_results

*/*/devel
*/*/catkin
*/*/catkin_generated
*/*/atomic_configure
*/*/.vscode

#Lightwarelidar_forked
*/*/CTestConfiguration.ini
*/*/CTestCustom.cmake
*/*/CTestTestfile.cmake

#Executables
*/fromFile
*/synolo_exec
/sim_test
test_lib/synolo_tests
/bench

# build directory
/build