#Root directory
.vscode
CMakeFiles

MakeFile
*.a
cmake_install.cmake
CMakeCache.txt

CATKIN_IGNORE

#Sub Directory
*/CMakeFiles
*/MakeFile

#Catkin from ROS
/devel
/catkin
/catkin_generated
/atomic_configure

*/*/devel
*/*/catkin
*/*/catkin_generated
*/*/atomic_configure
*/*/.vscode

#Lightwarelidar_forked
*/*/CTestConfiguration.ini
*/*/CTestCustom.cmake
*/*/CTestTestfile.cmake

#Executables
*/fromFile
*/synolo_exec





