#Root directory
.vscode
CMakeFiles
_deps/
.DS_Store

MakeFile
*.a
cmake_install.cmake
*/cmake_install.cmake
CMakeCache.txt

CATKIN_IGNORE

build/

# Ignore all .cmake files inside test_lib
test_lib/*.cmake

#Catch2-generated cmake helper files
test_lib/kdtree_test_include-*.cmake
test_lib/CTestTestfile.cmake
test_lib/synolo_tests_include-*.cmake
test_lib/synolo_tests_tests-*.cmake
#debugging file 
test_lib/kdtree_test.cpp 

#Sub Directory
*/CMakeFiles
*/MakeFile

#Catkin from ROS
/devel
/catkin
/catkin_generated
/atomic_configure

*/*/devel
*/*/catkin
*/*/catkin_generated
*/*/atomic_configure
*/*/.vscode

#Lightwarelidar_forked
*/*/CTestConfiguration.ini
*/*/CTestCustom.cmake
*/*/CTestTestfile.cmake

#Executables
*/fromFile
*/synolo_exec
/kdtree_test
/sim_test
test_lib/synolo_tests
/bench